<div class="card p-3 mb-2 comment">
  <div class="d-flex justify-content-between">
    <div class="d-flex flex-row align-items-center">
      <div class="icon">
        <%if(comment.user.avatar){%>
        <img src="<%=comment.user.avatar%>" alt="<%=user.name%>" />
        <%}else{%>
        <i class="fas fa-user-circle"></i>
        <%}%>
      </div>
      <div class="ms-2 c-details">
        <h6 class="mb-0"><%=comment.user.name%></h6>
        <span
          ><%=comment.updatedAt.toString().substr(15, 6)%>,
          <%=comment.updatedAt.toString().substr(0, 15)%>
        </span>
      </div>
    </div>
    <%if(comment.user.id==user.id){%>
    <div class="delete-comment">
      <a
        data-bs-toggle="collapse"
        href="#more_options<%=comment._id%>"
        role="button"
        aria-expanded="false"
        aria-controls="more_options<%=comment._id%>"
        ><i class="fas fa-ellipsis-h" style="color: #e44d3a"></i>
      </a>
      <a
        class="collapse delete-comment-button"
        id="more_options<%=comment._id%>"
        href="/comment/destroy/?id=<%=comment.id%>"
        ><button class="btn btn-danger">
          <div
            style="display: flex; align-items: center; justify-content: center"
          >
            <i class="far fa-trash-alt" style="margin-right: 10px"></i> Delete
          </div>
        </button>
      </a>
    </div>
    <%}%>
  </div>
  <div class="mt-3">
    <p class="card-text" style="font-size: 20px"><%=comment.content%></p>
    <div class="mt-3">
      <a
        href="/likes/toogle/?id=<%=comment.id%>&type=Comment"
        method="POST"
        style="text-decoration: none"
      >
        <i class="far fa-heart"> </i>
        <% if(comment.likes.length>0){%>
        <strong
          style="
            font-size: 20px;
            margin-right: 20px;
            margin-left: -25px;
            margin-top: -20px;
            color: coral;
          "
        >
          <%=comment.likes.length%></strong
        >
        <%}%>
      </a>
    </div>
  </div>
</div>
