<html>
  <head>
    <link rel="stylesheet" href="/css/layout.css" />
    <%- style %>
  </head>
  <body>
    <%-include('_header');%>
    <!-- pre defined by layout -->
    <%- body %>

    <!-- footer -->
    <%-include('_footer');%> <%- script %>
  </body>
</html>
