<%if(locals.user){%> <% for(post of postList){%>
<div class="post">
  <h3><%=(post.user).name%></h3>
  <div><%=post.content%></div>
  <div class="comment">
    <form action="/comment/create" method="POST">
      <input
        type="text"
        name="content"
        placeholder="Add comments..."
        required
      />
      <!-- we need post id on which comment is done -->
      <input type="hidden" name="post" value="<%=post.id%>" />
      <input type="submit" value="Add Comment"/>
    </form>
  </div>
  <div class="post-comments-list">
    <ul id="post-comments-<%= post._id %>">
      <% for (comment of post.comment){%>
      <p>
        <small> <%= comment.user.name %> </small>
        <br />
        <%= comment.content %>
      </p>
      <%} %>
    </ul>
  </div>
</div>

<%}%> <%}%>
