<div class="my-profile">
  <div class="my-heading">
    <%if(user_profile.avatar){%>
    <img
      src="<%=user_profile.avatar%>"
      alt="<%=user_profile.name%>"
      width="100"
      style="width: 80px; height: 80px; border-radius: 50%; margin-right: 20px"
    />
    <%}else{%>
    <i
      class="fas fa-user-circle"
      style="margin-right: 20px; font-size: 80px"
    ></i>
    <%}%>
    <div>
      <h1><%=user_profile.name%></h1>
      <h5><%=user_profile.email%></h5>
    </div>
  </div>
  <div class="my-profile-edit">
    <%if(user_profile.id==user.id){%>
    <form
      action="/users/update/<%=user.id%>"
      method="POST"
      enctype="multipart/form-data"
    >
      <input
        class="form-control"
        type="text"
        name="name"
        required
        placeholder="Your Name"
        value="<%=user_profile.name%>"
      />
      <input
        class="form-control"
        type="text"
        name="email"
        required
        placeholder="Your email"
        value="<%=user_profile.email%>"
      />
      <input
        class="form-control"
        type="file"
        name="avatar"
        placeholder="Profile Pic"
      />
      <input class="form-control btn-danger" type="submit" value="Update" />
    </form>
  </div>
  <%}else{%>
  <a href="/friend/toogle/?id=<%=user_profile.id%> " class="my-button">
    <%if(!isFriend){%>
    <button class="btn btn-success">Add Friend</button>
    <%}else{%>
    <button class="btn btn-danger">Remove Friend</button>
    <%}%>
  </a>
  <%}%>
</div>
